html {
  background-color: #f3ebeb;
}

.page {
  background-color: #f3ebeb;
  display: flex;
  justify-content: center;
  height: 680px;

  .content {
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    width: 600px;
  }
}
