.header {
  background-color: #f3ebeb;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  justify-content: center;

  .logo {
    // Logo po lewej stronie
    img {
      width: 160px;
      height: 50px;
    }
    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    .about-us {
      margin-right: 30px;
      margin-left: 50px;
    }
    .FAQ {
      margin-left: 30px;
      margin-right: 50px;
    }

    .about-us,
    .FAQ,
    .log-out {
      border: none;
      padding: 8px 12px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: rgba(0, 148, 255, 0.8);
      }
    }

    justify-content: space-around;
    button {
      border: none;
    }
  }
}
